<div>
    Dear Customer,

    <p>
        Thank you for choosing Cakelaya! To ensure the security of your account, we require you to verify your identity through a One-Time Password (OTP). Please use the following OTP to complete the verification process:
    </p>
    <p>
        Your OTP: <%=otp%>
    </p>
    <p>
        Please enter this OTP on the verification page or app to confirm your identity. This OTP is valid for a short period, so please use it promptly.
    </p>

    <p>
        If you did not request this OTP or have any concerns about your account security, please contact our support team immediately at support@cakelaya.com.
    </p>

    <p>
        Thank you for trusting Cakelaya.
    </p>

    <p>
        Best regards,
    </p>

    <p>
        Cakelaya
    </p>
    <p>
        support@cakelaya.com
    </p>
</div>