<div>
    Dear Customer,

    <p>
        Thank you for choosing us! To ensure the security of your account, we require you to verify your identity through a One-Time Password (OTP). Please use the following OTP to complete the verification process:
    </p>
    <p>
        OTP: <%=otp%>
    </p>
    <p>
        Thank you for trusting us.
    </p>

    <p>
        Regards,<br>
        Team Cakeलाया ?
    </p>
</div>